[Unit]
Description=Prometheus exporter for Pacemaker HA clusters metrics
After=network.target

[Service]
Type=simple
Restart=always
EnvironmentFile=-/etc/sysconfig/prometheus-ha_cluster_exporter
ExecStart=/usr/bin/ha_cluster_exporter $ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
